<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <title><%= title %></title>
    
    <link rel="shortcut icon" href="/img/UPS_logo.png" />
    <link rel="stylesheet" href="http://<%= hostname %>:3000/bootstrap/dist/css/bootstrap.min.css">
    
    
    <!--<script src='http://<%= hostname %>:3000/jquery/jquery.slim.min.js'></script>-->
    
    
    <script src="http://<%= hostname %>:3000/functions/popper.min.js"></script>
    <script type="text/javascript" src="http://<%= hostname %>:3000/jquery/dist/jquery.min.js"></script>
    <!--<script src='http://<%= hostname %>:3000/jquery/jquery.slim.min.js'></script>-->
    
    
    <!--<script src="http://<%= hostname %>:3000/jquery/jquery.min.js"></script>-->
    
    <!--<script src="http://<%= hostname %>:3000/bootstrap/js/src/popover.js"></script>-->
    
    <script type="text/javascript" src="http://<%= hostname %>:3000/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!--<script src="http://<%= hostname %>:3000/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script type="text/javascript" src="http://<%= hostname %>:3000/ionicons/dist/ionicons.js"></script>
    <!--<script src="http://<%= hostname %>:3000/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    
    <!--<script src="http://<%= hostname %>:3000/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    
    

</head>
<body>
    